<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h1>Todo List</h1>
  <form action="/todos" method="POST">
    <input type="text" name="title" placeholder="Enter a new todo" required />
    <button type="submit">Add Todo</button>
  </form>
  <ul>
    <% todos.forEach(function(todo) { %>
      <li><%= todo.title %> (<a href="/todos/<%= todo.id %>">Edit</a> | <a href="javascript:;" onclick="return deleteTodo('<%= todo.id %>')">Delete</a>)</li>
    <% }) %>
  </ul>

  <script>
    function deleteTodo(id) {
      if (confirm('Are you sure you want to delete this todo?')) {
        fetch('/todos/' + id, { method: 'DELETE' })
          .then(function(response) {
            if (response.ok) {
              location.href = '/todos';

            } else {
              throw new Error('Failed to delete todo');
            }
          })
          .catch(function(error) {
            console.error(error);
          });
      }
    }
  </script>
</body>
</html>
